<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Hermes</title>
</head>
<body> <h1> {{ investidor.nome }}, aqui você acompanha o histórico de cotações da ação {{ ativo_b3 }}</h1> </body>

<body>
{% block content %}
    <h1>Cotações do ativo {{ ativo_b3 }}</h1>
    <table class="table" border="1">
      <thead>
          <tr>
              <th>Ativo B3</th>
              <th>Data cotação</th>
              <th>Ultimo Valor</th>
          </tr>
      </thead>
      <tbody>
            {% for cotacao in cotacoes %}
                <tr>
                    <td>{{ cotacao.monitoracao.ativoB3 }}</td>
                    <td>{{ cotacao.dataHora|date:'d-m-Y H:i:s' }}</td>
                    <td>R$ {{ cotacao.valor }}</td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
{% endblock %}
</body>
</html>