<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Hermes</title>
</head>
<body>
<h1>Bem vindo ao Hermes</h1>
    <h1>Selecione ou cadastre um investidor</h1>
    <form action="{% url 'cadastrar_investidor' %}" >
     <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>
    <table class="table">
      <thead>
          <tr>
              <th>Nome</th>
              <th>E-mail</th>
          </tr>
      </thead>
      <tbody>
            {% for investidor in investidores %}
                <tr>
                    <td>{{ investidor.nome }}</td>
                    <td>{{ investidor.email }}</td>
                    <td>
                        <form action="{% url 'salao_investidor' investidor.id %}" >
                         <button class="btn btn-primary" type="submit">Selecionar</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'editar_investidor' investidor.id %}" >
                         <button class="btn btn-primary" type="submit">Editar</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'excluir_investidor' investidor.id %}" >
                         <button class="btn btn-primary" type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
</body>
</html>