<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Hermes</title>
</head>
<body>
<h1> {{ investidor.nome }} aqui você pode observar a evolução dos seus ativos cadastrados</h1>
</body>

<body>
<form action="{% url 'ativo' %}" >
    <select name="monitoracao">
        <option disabled> Selecione o ativo</option>
        {% for monitoracao in monitoracoes %}
            <option value= {{ monitoracao.id }}>{{ monitoracao.ativoB3.sigla }}</option>
        {% endfor %}
    </select>
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>
</body>
</html>
